body{
	margin: auto;
	max-width: 1000px;
}
header{
	margin: auto;
	max-width: 1000px;
}
.pro-row{
	padding:5px 10px;
	text-align: center;
}
.title {
    margin: 20px 15px 7px;
    color: #6d6d72;
    font-size: 15px;
}
.progressNumber{width:100%;height:22px;line-height:22px;border:1px solid #369;margin:3px auto;}
.progressContent{width:1px;height:22px;line-height:22px;background:#D2D41A;margin:0;}